*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
  padding: 30px 0;
  background-color: #000;
  color: #fff;
  /* position: fixed;
  top: 0;
  z-index: 999; */
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  gap: 50px;
}

nav .nav-links ul{
  display: flex;
  align-items: center;
  gap: 30px;

  li{
    list-style-type: none;


    a{
      text-decoration: none;
      color: #fff;
      font-size: 23px;
    }
  }
}
nav .search-bar input{
  width: 450px;
  height: 45px;
  padding: 0 10px;
  font-size: 20px;

  &:focus{
    outline: none;
  }
}

nav .cart-and-user{
  display: flex;
  gap: 30px;
  align-items: center;
}
nav .cart-and-user i{
  font-size: 40px;
  position: relative;
  color: #fff;
}
nav .cart-and-user p{
  position: absolute;
  top: 28px;
  right: 11%;
  background-color: red;
  text-align: center;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
nav .cart-and-user img{
  width: 50px;
  border-radius: 50%;
  border: 1px solid #748ffc;
}
/* hero section */
.hero{
  background-image: url(../../public/images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.hero .hero-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 45%;


  small{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #748ffc;
  }

  h1{
    font-size: 3rem;
    line-height: 65px;
  } 
  p{
    border-left: 5px solid #748ffc;
    padding: 8px 0 8px 10px;
    font-size: 1.3rem;
  }

  .btns{
    display: flex;
    gap: 30px;

    .latest-btn{
      background-color: #475569;
      border: none;
      height: 50px;
      width: 180px;
      font-size: 1.2rem;
      color: #fff;
      border-radius: 5px;
    }

    .popular-btn{
      background-color: #364fc7;
      border: none;
      height: 50px;
      width: 180px;
      font-size: 1.2rem;
      color: #fff;
      border-radius: 5px;
    }
  }
}
main{
  display: flex;
  align-items: start;
  gap: 20px;
  padding: 20px 40px;
}
main .sidebar ul li{
 list-style-type: none;
}
.products h1{
  text-align: center;
  font-size: 3rem;

  span{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-decoration-color: #748ffc;
  }
}
.products-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 30px 0;
  justify-content: center;
}
 .cards{
  width: 270px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
 .cards img{
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.details .name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.details .btn{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
}
.btn .add-to-cart{
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: #748ffc;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}
.btn .view-details{
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: #475569;
  color: #fff;
}

.view-all-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup{
  margin: 10px auto;
  display: none;
  flex-direction: column;
  padding: 20px 90px;
  background-color: #fbfafa;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 100%;
  z-index: 100;
}
.popup i{
 text-align: right;
 font-size: 50px;
 cursor: pointer;
}

.products-details{
  display: flex;
}
.products-details .images{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.products-details .images .bg-image img{
  width: 70%;
  height: 60vh;
  border-radius: 10px;
}
.products-details .images .small-image{
  display: flex;
  gap: 10px;
  align-items: center;
 width: 70%;
  /* gap: 0px; */
}
.products-details .images .small-image img{
  width: 100%;
  border-radius: 15px 0 15px 0;
}

.products-details .text{
  flex: 1;
}
.products-details .text small{
  text-transform: uppercase;
}
.products-details .text h1{
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 0;
}
.products-details .text p{
  width: 70%;
  font-size: 1.5em;
  color: hsl(219, 9%, 45%);
  line-height: 1.8rem;
  padding: 1rem 0;
}

.price{
  align-items: center;
  padding-bottom: 1rem;
}
.text .price span{
  font-size: 1.3em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-right: 2rem; */
}
.text .price button{
  border: none;
  font-size: 1.2em;
  padding: 0 1rem;
  background-color: black;
  color: #fff;
}
.text .small{
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-size: 1em;
}
.btn2{
  button{
    background-color: #748ffc;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
  }
}
.btn{
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../public/images/b2.jpg);
  height: 30vh;
  color: #fff;
  gap: 20px;

  p{
    font-weight: 900;
    font-size: 1.2em;
  }

  h1{
    font-size: 3.5em;
    text-align: center;

    span{
      color: rgb(246, 42, 42);
    }
  }

  button{
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
}
/* newsletter styling */
.newsletter{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 70px 0;
  background-color: #041e42;
  color: #e3e6f3;
}
.newsletter-text{
  display: flex;  
  flex-direction: column;
  gap: 10px;

  h1{
    font-size: 40px;
    font-weight: 400;
  }
  p{
    font-size: 20px;
    color: #939497;

    span{
      color: #ffbd27;
    }
  }
}
.newsletter-input{
  display: flex;

  input{
    width: 450px;
    height: 50px;
    border: none;
    padding: 5px 10px;
    border-radius: 1px;
    font-size: 20px;

    &:focus{
      outline: none;
    }
  }
  button{
    height: 50px;
    border: none;
    padding: 5px 10px;
    border-radius: 1px;
    /* margin-left: -2px; */
    background: #364fc7;
    color: #e3e6f3;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
  }
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}
footer .company-info{
      display: flex;
      flex-direction: column;
      gap: 7px;
  h2{
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
  }

  p{
    display: flex; 
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;

    span{
      font-weight: 400;
    }
  }
}

footer .nav-link{
  display: flex;
  align-items: center;
  gap: 10rem;

  .quick-link{

    h2{
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: 5px;
      li{
        list-style-type: none; 

        a{
          text-decoration: none;
          color: #4b4b4b;
        }
      }
    }
  }


  .user-links{

    h2{
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: 5px;
      li{
        list-style-type: none; 

        a{
          text-decoration: none;
          color: #4b4b4b;

          &:hover{
            color: #088178;
          }
        }
      }
    }
  }
}

footer .social-media{
  display: flex;
  align-items: center;
  gap: 10px;

  i{
    font-size: 40px;
  }
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid #6f6e6edf;
  padding-top: 20px;

  p{
    font-size: 14px;
    color: #5a5a5a;
  }
}

/* testimonials */

.testimonials-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;

  h1{
    padding-bottom: 60px;
    text-align: center;
    font-size: 3rem;
  }
}

.testimonials{
  display: flex;
  gap: 50px;
  padding: 20px 0;
}

.customer-testimonial{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  width: 400px;
  display: flex;
  flex-direction: column;

  img{
    width: 110px;
    border-radius: 50%;
    border: 5px solid #748ffc;
    margin: 0 auto;
    position: relative;
    top: -50px;
  }
  .message{
    font-size: 16px;
    margin-top: -45px;
  }
}

.name-rating{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  p{
    font-size: 18px;
    font-weight: 600;
  }
  i{
    font-size: 18px;
    color: #ffbd27;
  }
}


* cart page  */

.cart_page{
    padding: 20px 50px;

}
.cart_item{
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin: 20px 0;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     align-items: center;
     padding: 20px;

     p{
      flex: 1;
      font-size: 22px;
      font-weight: 700;
     }

     .cart_item_img{
      flex: 1;
     }
}

.cart_item .buttons{
    display: flex;
}



.cart_item .rmv_btn{
    flex: 0.1;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s ease-in;
    background-color: rgb(241, 108, 108);
    border: none;
    border-radius: 5px;
}


/* checkout_area */

.checkout_area {
    text-align: center;
}

.checkout_area button{
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
    margin: 20px auto;
    font-size: 18px;
    transition: .5s ease-in;
}

.label{
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-btn{
  display: flex;
  gap: 50px;
  align-items: center;

  a{
    text-decoration: none;

    .update{
      background-color: #475569;
     color: #fff;
     font-weight: 700;
     border: none;
     border-radius: 5px;
    }

    .checkout{
      background-color: #748ffc;
      font-weight: 700;
     border: none;
     border-radius: 5px;
     color: #fff;
    }
  }
}

.submit-method{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

  button{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: #748ffc;
    font-size: 20px;
    font-weight: 700;
  }
}


/* search products listing */
.searchproductslist{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 80px;
}

/* receipt section */
.checkout .receit{
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
}

/* checkout page */
.checkout{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 110px;
}
.checkout .forms form label{
  display: block;
  padding: 12px 0;
}
.checkout .forms form .name{
 display: flex;
 gap: 30px;
}
.checkout .forms form .name input{
  width: 200px;
  height: 50px;
}
.checkout .forms form input{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #444;
  padding: 0 10px;
  font-size: 20px;

  &:focus{
    outline: none;
  }
}




/* about page css */

.about-hero{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url('../../public/profile-image/about-bg.png');
  width: 100%;
  height: 60vh;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    font-size: 3.5rem;
    padding: 20px;
    text-align: center;
  }
  p{
    width: 600px;
    text-align: center;
    font-size: 18px;
  }
}

.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: rgb(255, 255, 255);

  .head{
    text-align: center;
    padding: 20px 0;
    font-size: 37px;
  }
}

.features-cards{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 40px 90px;
 background-color: whitesmoke;
}


/* mobile responsiveness */
@media (max-width: 499px){
  header{
    display: block;
    align-items: start;
    justify-content: space-between;
    padding: 30px 10px;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

    i{
      font-size: 50px;
    }
    .close{
      display: none;
    }
  }
  nav{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

  }
  nav .nav-links ul{
    display: flex;
    flex-direction: column;
  }
  nav .search-bar input{
    width: 350px;
  }
  nav .cart-and-user p{
    position: absolute;
    top: 66.5%;
    right: 53.5%;
    background-color: red;
    text-align: center;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  main{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  main .sidebar{
    width: 80%;
    margin: 0 auto;

    h2{
      text-align: center;
      padding: 10px 0;
    }
  }
  main .sidebar ul{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
  }

  .popup{
    padding: 20px 10px;
    
  }
  .products-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .products-details .images .bg-image img{
    width: 90%;
  }
  .products-details .images .small-image{
    width: 90%;
  }
  .products-details .text p{
    width: 100%;
  }

  .products-details{
    display: block;
  }

  /* hero section */
  .hero{
    background-color: #e7e7e9;
    background-image: none;
    width: 95%;

    .hero-container{
      width: 100%;
      gap: 20px;


      small{
        font-size: 18px;
      }

      h1{
        font-size: 2.5rem;
      }
    }
  }

  /* newsletter section */
  .newsletter{
    display: flex;
    flex-direction: column;
    gap: 30px;


    .newsletter-text{

      h1{
        font-size: 30px;
      }
      p{
        font-size: 18px;
      }
    }


    .newsletter-input{

      input{
        width: 100%;
      }
    }
  }

  /* footer section */
  footer{
    display: flex;
    flex-direction: column;
    gap: 40px;


    .company-info{
      width: 300px;
    }

    .nav-link{
      width: 350px;
    }
  }
  .info{
    height: 50vh;

    p{
      font-size: 1rem;
    }

    h1{
      font-size: 2.5rem;
    }
  }
  .testimonials-container {
    padding: 20px 20px;
    h1{
      font-size: 2rem;
    }
   
  }

  .testimonials{
    display: flex;
    flex-direction: column;
  }

  .customer-testimonial{
    width: 350px;
  }
  .about-hero{
    height: 70vh;

    h1{
      font-size: 2.4rem;
    }
    p{
      width: 100%;
    }
  }
  .features{
    height: 70vh;
  }

  .features-cards{
    display: flex;
    gap: 40px;
    padding: 20px 20px;
    flex-direction: column;
  }
}